<!doctype html>
<html ng-app="angularMemoryGameApp">
  <head>
    <title>angularMemoryGame</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script type="module" crossorigin src="/silly-games/assets/memoryGame-vog14ZEQ.js"></script>
    <link rel="modulepreload" crossorigin href="/silly-games/assets/modulepreload-polyfill-B5Qt9EMX.js">
    <link rel="stylesheet" crossorigin href="/silly-games/assets/memoryGame-CspBIc4S.css">
  </head>
  <body>
    <div ng-controller="GameController as gameCtrl">
      <div>Pairs left to match: {{gameCtrl.game.unmatchedPairs}}</div>
      <br />
      <table>
        <tr ng-repeat="row in gameCtrl.game.grid">
          <td ng-repeat="tile in row" class="container">
            <div class="card" ng-class="{flipped: tile.flipped}" ng-click="gameCtrl.game.flipTile(tile)">
              <img class="front" src="/silly-games/assets/back-Db2KKMtv.png">
              <img class="back" ng-src="{{tile.imageUrl}}">
            </div>
          </td>
        </tr>
      </table>
      <div class="message">{{gameCtrl.game.message}}</div>
    </div>
  </body>
</html>