<!doctype html>
<html ng-app="sodukuApp">
  <head>
    <title>Sudoku Solver</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1a1a2e">
    <link rel="stylesheet" href="../shared/theme.css">
    <link rel="stylesheet" href="./styles/main.css">
    <style>:root { --neon-accent: #ffe600; }</style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script type="module" src="./app.js"></script>
  </head>
  <body>
    <a class="back-home" href="../">&larr; Home</a>
    <div class="game-page" ng-controller="MainController as main">
      <div class="controls">
        <button ng-click="main.solve(true)">Solve!</button>
        <label>
          <input type="checkbox" ng-model="main.showPossibilities" id="showPossibilities">
          possibilities
        </label>
        <label>
          <input type="checkbox" ng-model="main.showCode" id="showCode">
          code
        </label>
      </div>
      <div class="grid-wrapper">
        <table>
          <tr ng-repeat="row in main.cells" ng-init="rowScope = this">
            <td ng-repeat="cell in row" style="{{main.getStyle(rowScope.$index, $index)}}">
              <input ng-model="cell.value" type="number">
              {{main.showPossibilities ? cell.possibilities : ''}}
            </td>
          </tr>
        </table>
      </div>
      <pre>{{main.showCode ? main.code : ''}}</pre>
    </div>
  </body>
</html>