:root {
  --circle-var: 30;
  --padding-var: 5;
  --border-var: 1;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: calc(100vw / var(--board-min-width));
  --circle-size: calc(1rem * var(--circle-var));
  --padding-size: calc(1rem * var(--padding-var));
  --border-size: calc(1rem * var(--border-var));
  --board-min-height: calc((var(--circle-size) + var(--padding-size) * 4) * 11);
  --board-min-width: (8 * var(--circle-var) + 32 * var(--padding-var));
}

@media screen and (min-width: 400px) {
  html {
     font-size: calc(400px / var(--board-min-width));
  }
}

body {
  font-family: 'Press Start 2P', monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  max-height: calc(var(--board-min-height) + var(--circle-size) * 9);
  min-height: calc(var(--board-min-height) + var(--circle-size) * 2);
  padding-top: 2.5rem;
}

.Board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  max-height: calc(var(--board-min-height) + var(--circle-size) * 7);
  min-height: var(--board-min-height);
  padding: var(--padding-size);
  background-color: rgba(255, 110, 199, 0.12);
  border: 2px solid rgba(255, 110, 199, 0.3);
  border-radius: calc(var(--circle-size) / 2);
}

.NewGame {
  user-select: none;
  cursor: pointer;
  margin: auto;
  font-size: var(--circle-size);
}

.Game {
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 110, 199, 0.08);
  border: 1px solid rgba(255, 110, 199, 0.2);
  border-radius: calc(var(--circle-size) / 2);
}

.Palette {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(var(--board-min-height) * 0.8);
  padding: calc(var(--padding-size) * 2);
}

.Palette .Circle {
  border: black var(--border-size) solid;
  cursor: pointer;
}

.Row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Pins {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(var(--circle-size) + var(--padding-size) * 2);
}

.PinSlot:nth-of-type(odd) {
  align-self: flex-start;
}

.PinSlot {
  width: calc(var(--circle-size) / 2 - var(--border-size));
  height: calc(var(--circle-size) / 2 - var(--border-size));
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: calc((var(--circle-size) / 2 - var(--border-size)) / 2);
  margin: calc(var(--border-size) * 2);
}

.Pin {
  width: calc((var(--circle-size) + var(--border-size) * 2) / 4);
  height: calc((var(--circle-size) + var(--border-size) * 2) / 4);
  border-radius: calc((var(--circle-size) + var(--border-size) * 2) / 8);
  margin: calc((var(--circle-size) / 2 - var(--border-size) * 3) / 4);
}

.Pin.bull {
  background-color: red;
}

.Pin.cow {
  background-color: yellow;
}

.Counter {
  color: var(--neon-accent, #ff6ec7);
  margin: var(--padding-size);
  font-size: var(--circle-size);
  font-family: 'Press Start 2P', monospace;
}

.Guess {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Slot {
  width: calc(var(--circle-size) + var(--padding-size) * 2);
  height: calc(var(--circle-size) + var(--padding-size) * 2);
  border-radius: calc(var(--circle-size) / 2 + var(--padding-size));
  margin: var(--padding-size);
  background-color: rgba(255, 255, 255, 0.08);
}

.Circle {
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: calc(var(--circle-size) / 2);
  margin: var(--padding-size);
}

.Current .Circle {
  cursor: pointer;
}

.Answer {
  background-color: rgba(255, 110, 199, 0.15);
  border: 1px solid rgba(255, 110, 199, 0.3);
  display: flex;
  justify-content: center;
  height: calc(var(--circle-size) + (var(--padding-size) + var(--border-size)) * 4);
  border-radius: calc(var(--circle-size) / 2);
}
